body {
    @apply bg-background text-white;
}

.default-container-size {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.default-card {
    @apply bg-gray-700/20 border border-gray-600 rounded-xl shadow-md backdrop-blur;
}

* {
    font-family: Nunito, sans-serif;
}

:root {
    --navbar-height: 5rem;
}

opacity-enter-active,
.opacity-leave-active {
    transition: opacity 0.5s;
}

.opacity-enter,
.opacity-leave-to {
    opacity: 0;
}