html {
    scroll-behavior: smooth;
}

body {
    @apply bg-background text-white overflow-x-hidden;
}

.default-container-size {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.default-card {
    @apply bg-gray-700/20 border border-gray-600 rounded-xl shadow-md backdrop-blur;
}

* {
    font-family: Nunito, sans-serif;
}

:root {
    --navbar-height: 5rem;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::selection {
  @apply bg-purple-600 text-white;
}

::-moz-selection() {
  @apply bg-purple-600 text-white;
}

opacity-enter-active,
.opacity-leave-active {
    transition: opacity 0.5s;
}

.opacity-enter,
.opacity-leave-to {
    opacity: 0;
}
