---
interface Props {
    id: string;
    name: string;
    type?: string;
    label?: string;
    required?: boolean;
    placeholder?: string;
}

const { id, name, placeholder, required, type, label } = Astro.props;
---

<div class="flex flex-col gap-3">
    <label class="text-white/70 text-sm" for={id}>
        {label}
    </label>

    <textarea
        id={id}
        class="w-full bg-transparent border-b border-white/30 focus:border-purple-600 focus:outline-none"
    ></textarea>
</div>
