---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import flaskSVG from "../../assets/icons/flask.svg";
import UnityGameWEBP from "./assets/unity-game.webp";
import Button from "../../components/Button.astro";
---

<Layout
    title="Gotardo - Labs"
    description="Coisas experimentais e interativas feitas com o objetivo de divertir e mostrar algum tipo de tecnologia."
    keywords={["labs", "experimentos", "web", "interativo"]}
>
    <main class="default-container-size flex flex-col gap-9 min-h-screen">
        <div class="flex items-center gap-2 mt-8 -mb-2">
            <h1 class="text-4xl font-bold">Experimentos</h1>
            <Image src={flaskSVG} alt="Frasco de laboratório" width={34} />
        </div>

        <section class="flex gap-4">
            <Image
                src={UnityGameWEBP}
                widths={[500]}
                class="max-w-[400px] rounded-xl"
                alt="Jogo criado na unity e buildado usando WebGL"
            />
            <div class="flex-1 grow flex flex-col gap-2">
                <h2 class="text-lg font-semibold transition-colors">
                    Jogo utilizando WebGL criado pela Unity
                </h2>
                <p class="text-gray-300">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque cumque ipsa voluptates maxime consectetur? Dolorem,
                    animi cupiditate eaque qui rerum saepe quisquam, impedit
                    enim repellendus corporis accusamus in iure laudantium.
                </p>
                <a class="mt-auto" href="/labs/play/unity-game">
                    <Button class="w-fit">Testar agora</Button>
                </a>
            </div>
        </section>
    </main>
</Layout>
